{
  "handlerTypes": ["none"],
  "level": "DEBUG",
  "format": "%(asctime)s %(levelname)s [%(filename)s:%(lineno)s - %(funcName)s()] %(message)s",
  "appendToFile": true,
  "filePath": "logger/logger.log",
  "handlerTypeOptions": ["file", "console", "none"],
  "levelOptions": ["NOTSET", "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"]
}